.music-player-bar{
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    /* background-color: black; */
    background-color: rgb(46, 46, 128);
    left: 0;
    right: 0;
    bottom: 0;
    color: lightgray;
    align-items: center;

    /* padding: 10px 100px 10px; */
    justify-content:space-around;
}
.footer-left-section{
    display: flex;
}
.footer-img-container{
    width: 65px;
    display: flex;
    align-items: center;
}
.footer-img-container img{
    width: 100%;
    object-fit: contain;
}
.footer-song-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    /* width: 100px;
    white-space: nowrap;
    box-shadow: inset; */
}
.footer-song-info p:first-child{
    font-size: 1rem;
    
}
.footer-song-info p:nth-child(2){
    font-size: 0.9rem;
    color: lightgray;
}
.like-dislike{
    display: flex;
    width: 65px;
    padding-top: 2.2vh;
    justify-content: space-evenly;
}
i:hover{
    cursor: pointer;
}
.footer-middle-section{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.pause-play{
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.song-range{
    width: 80%;
    margin-top: 10px;
    align-self: center;
    display: flex;
}
.song-range input{
    width: 90%;
    align-self: center;
}
